/* ============================================= */
/* ================ VARIABLES ================ */
/* ============================================= */

:root {
  /* Color Variables */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gold: hsl(45, 100%, 50%);
  --gold-light: hsl(45, 100%, 70%);
  --gold-dark: hsl(45, 100%, 40%);

  /* Gradient Variables */
  --bg-gradient-white: linear-gradient(to bottom right, var(--white) 3%, hsl(0, 0%, 95%) 97%);
  --bg-gradient-black: linear-gradient(to bottom right, hsla(0, 0%, 0%, 0.9) 0%, hsla(0, 0%, 0%, 0.8) 100%), var(--black);
  --bg-gradient-gold: linear-gradient(to bottom right, var(--gold) 0%, hsla(45, 100%, 50%, 0) 50%);
  --border-gradient-gold: linear-gradient(to bottom right, var(--gold) 0%, hsla(45, 100%, 50%, 0) 50%);
  --text-gradient-gold: linear-gradient(to right, var(--gold), var(--gold-light));

  /* Text Colors */
  --text-white: var(--white);
  --text-black: var(--black);
  --text-gold: var(--gold);

  /* Shadow Variables */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.1);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.1);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.1);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.1);

  /* Typography */
  --ff-poppins: 'Poppins', sans-serif;

  /* Font Sizes */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* Font Weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* Transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/* ============================================= */
/* ================== RESET ================== */
/* ============================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { 
  text-decoration: none; 
}

li { 
  list-style: none; 
}

img,
ion-icon,
a,
button,
time,
span { 
  display: block; 
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  font: inherit;
  display: block;
  width: 100%;
  background: none;
}

::selection {
  color: var(--black);
  background: var(--gold);
}

:focus { 
  outline-color: var(--gold); 
}

html { 
  font-family: var(--ff-poppins); 
}

body { 
  background: var(--white); 
}

/* ============================================= */
/* ============= REUSED STYLES =============== */
/* ============================================= */

.sidebar,
article {
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--gold);
  border-radius: 20px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: var(--gold);
}

.icon-box {
  font-size: 16px;
  color: var(--gold);
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--border-gradient-gold);
  border-radius: 8px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--white);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { 
  --ionicon-stroke-width: 35px; 
}

article { 
  display: none; 
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--black);
  text-transform: capitalize;
}

.h2 { 
  font-size: var(--fs-1); 
}

.h3 { 
  font-size: var(--fs-2); 
}

.h4 { 
  font-size: var(--fs-4); 
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: var(--text-gradient-gold);
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--gold-light);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--gold);
}

.has-scrollbar::-webkit-scrollbar-button { 
  width: 20px; 
}

.content-card {
  padding: 15px;
  padding-top: 45px;
  position: relative;
  background: var(--border-gradient-gold);
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--white);
  border-radius: inherit;
  z-index: -1;
}

/* ============================================= */
/* ================== MAIN =================== */
/* ============================================= */

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

/* ============================================= */
/* ================= SIDEBAR ================= */
/* ============================================= */

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sidebar.active { 
  max-height: 405px; 
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box {
  background: var(--bg-gradient-gold);
  border-radius: 20px;
}

.info-content .name {
  color: var(--black);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  background: var(--black);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.info_more-btn {
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  padding: 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  background: var(--border-gradient-onyx);
  border-radius: 0 15px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus { 
  background: var(--bg-gradient-yellow-1); 
}

.info_more-btn:hover::before,
.info_more-btn:focus::before { 
  background: var(--bg-gradient-yellow-2); 
}

.info_more-btn span { 
  display: none; 
}

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.contact-info address { 
  font-style: normal; 
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 18px;
}

.social-item .social-link:hover { 
  color: var(--light-gray); 
}

/* ============================================= */
/* ================= NAVBAR ================== */
/* ============================================= */

.navbar {
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--gold);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: var(--black);
  font-size: var(--fs-8);
  padding: 20px 7px;
  position: relative;
  transition: var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--gold);
}

.navbar-link.active {
  color: var(--gold);
  font-weight: var(--fw-600);
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--gold);
  transform: translateX(-50%);
  transition: var(--transition-1);
}

.navbar-link:hover::after,
.navbar-link:focus::after {
  width: 50%;
}

.navbar-link.active::after {
  width: 50%;
}

/* ============================================= */
/* ================== ABOUT ================== */
/* ============================================= */

.about .article-title { 
  margin-bottom: 15px; 
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  text-align: justify;
}

.about-text p { 
  margin-bottom: 15px; 
}

.service { 
  margin-bottom: 35px; 
}

.service-title { 
  margin-bottom: 20px; 
}

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  padding: 20px;
  position: relative;
  background: var(--border-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.service-item:nth-child(3),
.service-item:nth-child(4) {
  display: none;
}

.service-icon-box { 
  margin-bottom: 10px; 
}

.service-icon-box img { 
  margin: auto; 
}

.service-content-box { 
  text-align: center; 
}

.service-item-title { 
  margin-bottom: 7px; 
}

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
  text-align: justify;
}

.testimonials { 
  margin-bottom: 30px; 
}

.testimonials-title { 
  display: none; 
  margin-bottom: 20px; 
}

.testimonials-list {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center;
}

.testimonials-avatar-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.testimonials-item-title { 
  margin-bottom: 7px; 
}

.testimonials-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
}

.modal-container::-webkit-scrollbar { 
  display: none; 
}

.modal-container.active {
  pointer-events: all;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 5%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all;
}

.testimonials-modal {
  padding: 15px;
  margin: 15px 12px;
  background: var(--eerie-black-2);
  position: relative;
  border: 1px solid var(--jet);
  border-radius: 14px;
  box-shadow: var(--shadow-5);
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;
}

.modal-container.active .testimonials-modal {
  transform: scale(1);
  opacity: 1;
}

.modal-close-btn {
  font-size: 18px;
  color: var(--white-2);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--onyx);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus { 
  opacity: 1; 
}

.modal-close-btn ion-icon { 
  --ionicon-stroke-width: 50px; 
}

.modal-avatar-box {
  margin-bottom: 15px;
  background: var(--bg-gradient-onyx);
  width: max-content;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
}

.modal-img-wrapper > img { 
  display: none; 
}

.modal-title { 
  margin-bottom: 4px; 
}

.modal-content time {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  margin-bottom: 10px;
}

.modal-content p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.technical { 
  margin-bottom: 15px; 
}

.technical-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.technical-item {
  min-width: 50%;
  scroll-snap-align: start;
}

.technical-item img {
  width: 100%;
  filter: grayscale(1);
  transition: var(--transition-1);
}

.technical-item img:hover { 
  filter: grayscale(0); 
}

/* ============================================= */
/* ================== RESUME ================= */
/* ============================================= */

.resume .article-title { 
  margin-bottom: 30px; 
}

.timeline {
  position: relative;
  padding-left: 50px;
  margin-bottom: 50px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
  width: 2px;
  background: var(--gold);
  border-radius: 2px;
}

.timeline-list {
  list-style: none;
  position: relative;
}

.timeline-item {
  position: relative;
  padding-bottom: 40px;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -40px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--gold);
  border: 3px solid var(--white);
  box-shadow: 0 0 0 2px var(--gold);
  z-index: 1;
}

.timeline-item-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
  color: var(--black);
  position: relative;
}

.timeline-item span {
  display: block;
  font-size: var(--fs-6);
  color: var(--gold-dark);
  margin-bottom: 15px;
  font-weight: var(--fw-500);
}

.timeline-text {
  color: var(--black);
  line-height: 1.6;
  font-size: var(--fs-6);
  padding-left: 20px;
  border-left: 2px solid var(--gold-light);
  margin-left: -20px;
}

.timeline-text p {
  margin-bottom: 10px;
  position: relative;
}

.timeline-text p::before {
  content: "•";
  color: var(--gold);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.timeline-text b {
  color: var(--gold-dark);
  font-weight: var(--fw-600);
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.download-btn {
  color: var(--black);
  font-size: var(--fs-6);
  padding: 10px 20px;
  background: var(--white);
  border: 1px solid var(--gold);
  border-radius: 8px;
  margin-left: auto;
  transition: var(--transition-1);
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.download-btn:hover {
  color: var(--white);
  background: var(--gold);
  border-color: var(--gold);
  box-shadow: var(--shadow-1);
}

.download-btn:active {
  transform: scale(0.95);
}

/* ============================================= */
/* ================ PORTFOLIO ================ */
/* ============================================= */

.filter-list { 
  display: none; 
}

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 14px;
  cursor: pointer;
  transition: var(--transition-1);
}

.filter-select:hover {
  border-color: hsl(0, 0%, 60%);
}

.select-list {
  padding: 6px;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  background: var(--white);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-1);
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  box-shadow: var(--shadow-1);
}

.select-list:hover {
  border-color: hsl(0, 0%, 85%);
}

.select-item button {
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  padding: 8px 10px;
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition-1);
  text-transform: capitalize;
}

.select-item button:hover {
  color: var(--white);
  background: var(--gold);
}

.select-icon {
  color: var(--black);
  font-size: 18px;
  transition: var(--transition-1);
}

.filter-select:hover .select-icon {
  color: var(--black);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 10px;
}

.project-item {
  display: none;
}

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

.project-item > a {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--shadow-2);
}

.project-img {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  color: var(--gold);
  font-size: 20px;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--black);
  border-radius: 12px;
  transform: translate(-50%, -50%) scale(var(--scale));
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
  --scale: 0.8;
}

.project-item > a:hover .project-item-icon-box {
  opacity: 1;
  --scale: 1;
}

.project-item-icon-box ion-icon { 
  --ionicon-stroke-width: 50px; 
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-item > a:hover img {
  transform: scale(1.1);
}

.project-title,
.project-category { 
  margin-left: 10px; 
}

.project-title {
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  line-height: 1.3;
  text-transform: capitalize;
}

.project-category {
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.project-item > a:hover .project-title {
  color: var(--gold);
}

.project-item > a:hover .project-category {
  color: var(--gold);
}

/* ============================================= */
/* ================== CONTACT ================= */
/* ============================================= */

.mapbox {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid var(--gold);
  border-radius: 16px;
  overflow: hidden;
  transition: var(--transition-1);
}

.mapbox:hover {
  border-color: var(--gold-light);
  box-shadow: var(--shadow-3);
}

.mapbox figure { 
  height: 100%; 
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { 
  margin-bottom: 10px; 
}

.form-title { 
  margin-bottom: 20px; 
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--black);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--gold);
  border-radius: 14px;
  outline: none;
  background: var(--white);
  transition: var(--transition-1);
}

.form-input:hover {
  border-color: var(--gold-light);
  box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.1);
}

.form-input:focus {
  border-color: var(--gold-dark);
  box-shadow: 0 0 0 3px rgba(255, 187, 0, 0.3);
  transform: scale(1.02);
}

.form-input::placeholder {
  color: var(--black);
  opacity: 0.4;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.form-input:focus::placeholder {
  opacity: 0.1;
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  margin-bottom: 25px;
  resize: vertical;
}

textarea.form-input:hover {
  border-color: var(--gold-light);
}

textarea.form-input:focus {
  border-color: var(--gold-dark);
}

textarea.form-input::-webkit-resizer { 
  display: none; 
}

.form-btn {
  color: var(--black);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  padding: 8px 14px;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--gold);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
}

.form-btn:hover {
  background: linear-gradient(
    to right,
    var(--gold-light),
    var(--gold)
  );
  color: var(--black);
  box-shadow: 0 2px 10px rgba(255, 215, 0, 0.3);
}

.form-btn-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form-btn ion-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.form-btn span {
  transition: transform 0.3s ease;
  display: inline-block; 
}

.form-btn:active {
  transform: scale(0.96);
}



/* ============================================= */
/* =============== RESPONSIVE ================ */
/* ============================================= */

@media (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .timeline {
    padding-left: 30px;
  }
  
  .timeline::before {
    left: 15px;
  }
  
  .timeline-item::before {
    left: -30px;
  }
}

@media (max-width: 480px) {
  .project-list {
    grid-template-columns: 1fr;
  }
  
  .timeline {
    padding-left: 20px;
  }
  
  .timeline::before {
    left: 10px;
    width: 1px;
  }
  
  .timeline-item::before {
    left: -25px;
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 580px) {
  :root {
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;
  }

  .sidebar, article {
    width: 520px;
    padding: 30px;
    margin-inline: auto;
  }

  .article-title {
    padding-bottom: 15px;
    font-weight: var(--fw-600);
  }

  .article-title::after {
    width: 40px;
    height: 5px;
  }

  .icon-box {
    font-size: 18px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }

  .sidebar.active { 
    max-height: 584px; 
  }

  .sidebar-info { 
    gap: 25px; 
  }

  .avatar-box { 
    border-radius: 30px; 
  }

  .avatar-box img { 
    width: 120px; 
  }

  .info-content .name { 
    margin-bottom: 15px; 
  }

  .info-content .title { 
    padding: 5px 18px; 
  }

  .info_more-btn {
    font-size: var(--fs-8);
    padding: 10px 15px;
    top: -30px;
    right: -30px;
  }

  .info_more-btn span { 
    display: block; 
  }

  .info_more-btn ion-icon { 
    display: none; 
  }

  .separator { 
    margin: 32px 0; 
  }

  .contacts-list { 
    gap: 20px; 
  }

  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }

  .navbar { 
    border-radius: 20px 20px 0 0; 
  }

  .navbar-list { 
    gap: 20px; 
  }

  .navbar-link { 
    --fs-8: 14px; 
  }

  .about .article-title { 
    margin-bottom: 20px; 
  }

  .about-text { 
    margin-bottom: 40px; 
  }

  .service-item {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
  }

  .service-icon-box { 
    margin-top: 5px; 
    margin-bottom: 0; 
  }

  .service-content-box { 
    text-align: left; 
  }

  .testimonials-title { 
    margin-bottom: 25px; 
  }

  .testimonials-list {
    gap: 30px;
    margin: 0 -30px;
    padding: 30px;
    padding-bottom: 35px;
  }

  .content-card {
    padding: 30px;
    padding-top: 25px;
  }

  .testimonials-avatar-box {
    transform: translate(30px, -30px);
    border-radius: 20px;
  }

  .testimonials-avatar-box img { 
    width: 80px; 
  }

  .testimonials-item-title {
    margin-bottom: 10px;
    margin-left: 95px;
  }

  .testimonials-text {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .modal-container { 
    padding: 20px; 
  }

  .testimonials-modal {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    border-radius: 20px;
  }

  .modal-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-avatar-box {
    border-radius: 18px;
    margin-bottom: 0;
  }

  .modal-avatar-box img { 
    width: 65px; 
  }

  .modal-img-wrapper > img {
    display: block;
    width: 35px;
    flex-grow: 1;
  }

  .technical-list {
    gap: 50px;
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }

  .technical-item { 
    min-width: calc(33.33% - 35px); 
  }

  .timeline-list { 
    margin-left: 65px; 
  }

  .timeline-item:not(:last-child)::before { 
    left: -40px; 
  }

  .timeline-item::after {
    width: 8px;
    height: 8px;
    left: -43px;
  }

  .skills-item:not(:last-child) { 
    margin-bottom: 25px; 
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .download-btn {
    color: var(--black);
    font-size: var(--fs-8);
    padding: 10px 20px;
    background: var(--white);
    border: 1px solid var(--gold);
    border-radius: 8px;
    margin-left: auto;
    transition: var(--transition-1);
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
  }

  .download-btn:hover {
    color: var(--white);
    background: var(--gold);
    border-color: var(--gold);
    box-shadow: var(--shadow-1);
  }

  .download-btn:active {
    transform: scale(0.95);
  }

  .project-img, 
  .mapbox {
    height: 380px;
    border-radius: 18px;
  }

  .input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .form-input { 
    padding: 15px 20px; 
  }

  textarea.form-input { 
    margin-bottom: 30px; 
  }

  .form-btn {
    --fs-6: 16px;
    padding: 16px 20px;
  }
  
  .form-btn ion-icon {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .sidebar, article { 
    width: 700px; 
  }

  .has-scrollbar::-webkit-scrollbar-button { 
    width: 100px; 
  }

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

  .navbar-link { 
    --fs-8: 15px; 
  }

  .testimonials-modal {
    gap: 35px;
    max-width: 680px;
  }

  .modal-avatar-box img { 
    width: 80px; 
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 10px;
  }

  .project-item {
    display: none;
  }

  .project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
  }

  .project-item > a {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: var(--shadow-2);
  }

  .project-img {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
  }

  .project-item > a:hover .project-img::before {
    background: hsla(0, 0%, 0%, 0.5);
  }

  .project-item-icon-box {
    color: var(--gold);
    font-size: 20px;
    padding: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--black);
    border-radius: 12px;
    transform: translate(-50%, -50%) scale(var(--scale));
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
    --scale: 0.8;
  }

  .project-item > a:hover .project-item-icon-box {
    opacity: 1;
    --scale: 1;
  }

  .project-item-icon-box ion-icon { 
    --ionicon-stroke-width: 50px; 
  }

  .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-1);
  }

  .project-item > a:hover img {
    transform: scale(1.1);
  }

  .project-title { 
    margin-left: 15px; 
    margin-bottom: 5px; 
  }

  .project-category { 
    margin-left: 15px; 
    margin-bottom: 15px; 
  }

  .project-title {
    color: var(--black);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    line-height: 1.3;
    text-transform: capitalize;
  }

  .project-category {
    color: var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
  }

  .project-item > a:hover .project-title {
    color: var(--gold);
  }

  .project-item > a:hover .project-category {
    color: var(--gold);
  }

  .input-wrapper { 
    grid-template-columns: 1fr 1fr; 
  }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  .sidebar, article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }

  main { 
    margin-bottom: 60px; 
  }

  .main-content {
    width: max-content;
    position: relative;
    margin: auto;
  }

  .navbar {
    padding: 0 20px;
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { 
    font-weight: var(--fw-500); 
  }

  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }

  .testimonials-item { 
    min-width: calc(50% - 15px); 
  }

  .technical-item { 
    min-width: calc(25% - 38px); 
  }
}

@media (min-width: 1250px) {
  body::-webkit-scrollbar { 
    width: 20px; 
  }

  body::-webkit-scrollbar-track { 
    background: var(--smoky-black); 
  }

  body::-webkit-scrollbar-thumb {
    width: 20px;
    background: hsla(0, 0%, 100%, 0.1);
    border: 5px solid var(--smoky-black);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover { 
    background: hsla(0, 0%, 100%, 0.15); 
  }

  body::-webkit-scrollbar-button { 
    height: 60px; 
  }

  .sidebar, article { 
    width: auto; 
  }

  article { 
    min-height: 100%; 
  }

  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  .sidebar {
    position: sticky;
    top: 60px;
    height: 100%;
    max-height: max-content;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info { 
    flex-direction: column; 
  }

  .avatar-box img { 
    width: 150px; 
  }

  .info-content .name {
    text-align: center;
    white-space: nowrap;
  }

  .info-content .title { 
    margin: auto; 
  }

  .info_more-btn { 
    display: none; 
  }

  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list { 
    grid-template-columns: 1fr; 
  }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }

  .social-list { 
    justify-content: center; 
  }

  .timeline-text { 
    max-width: 700px; 
    font-size: var(--fs-5);
  }
}